body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
    font-family: "Georgia","Times New Roman", Times, serif, "Helvetica Neue";
}

table{
    background-color: white;
    opacity: 0.6;
}
td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.cvtitle{
    text-align: center;
    color: white;
}

.img_size{
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}